// larg screen
@include mediaXl {
  .projects {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;

    // @include border;
  }
}

// desktop

@include mediaLg {
  .projects {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
}

// Tablets
@include mediaMd {
  #not-responsive {
    pointer-events: none;
  }
  .projects {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }

  main {
    align-items: center;
    text-align: center;

    &#home {
      padding: 2rem;
    }

    .lg-heading {
      // color: red;
      font-size: 4rem !important;
    }

    .sm-heading {
      // color: red;
      font-size: 1rem !important;
    }
  }

  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);

    .nav-item {
      transform: translate3d(-400px, 0px, 0);
      @include easeOut();
    }

    @for $x from 1 through 5 {
      .nav-item:nth-child(#{$x}) {
        transition-delay: $x * 80ms;
      }
    }

    .nav-link {
      font-size: 1.5rem;
      margin-top: 0rem;
    }
  }

  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0);

    .portrait {
      background: $portrait-image-small;
      width: 150px;
      height: 150px;
    }
  }

  .about-info {
    grid-template-columns: 1fr;
    grid-template-areas: 'bioimg' 'bio';
    //    // 'bio'
    //    // 'job1'
    //    // 'job2'
    //    // 'job3' ;
  }
  .index-icons {
    justify-content: center;
  }
}

// Smartphone

@include mediaSm {
  #not-responsive {
    pointer-events: none;
  }

  .projects {
    grid-template-columns: repeat(1, 1fr);
    .item {
      img {
        height: 25vh;
      }
    }
  }

  main {
    align-items: center;
    text-align: center;

    &#home {
      padding: 0;
      margin: 0;
      min-height: calc(100vh - 100px);

      h1 {
        margin-top: 10vh;
      }
    }

    .lg-heading {
      // color: red;
      font-size: 3rem !important;
    }

    .sm-heading {
      // color: red;
      font-size: 1rem !important;
    }
  }

  .index-icons {
    justify-content: center;
    flex-flow: row wrap;
    a {
      font-size: 1rem;
      i {
        font-size: 2.8rem;
      }
    }
  }
  .main-footer {
    padding: 0;
    height: 40px;
  }

  #btn-footer {
    margin-bottom: 2rem;
  }
  #about {
    padding: 3rem 1rem;
  }
  .about-info {
    .bio {
      padding: 0;
      margin: 0;
      font-size: 1.2rem;
      text-align: start;
      letter-spacing: 2px;
    }
  }
  #bg-video {
    video {
      display: none;
      visibility: hidden;
    }
  }
  // Contact form

  #contact {
    padding: 3rem 1rem;
    .section {
      flex-direction: column;
    }
    .form-container {
      #contact-form {
        overflow: hidden;
        padding: 5px 15px;
        input[type='text'],
        input[type='email'],
        input[type='tel'],
        input[type='url'],
        textarea {
          margin: 5px;
          padding: 10px;
        }
      }
    }
  }
}
